<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>

    <h1>게임 목록</h1>

    <table>
      <% game.forEach(item => {
      const { game_name, game_cont, game_max, game_min } = item;
      %>
      <tr>
        <th><%=game_name%></th>
        <th><%=game_cont%></th>		
        <th><%=game_max%></th>
        <th><%=game_min%></th>
        <%url = "/games/game_list/like?game_name="+ game_name %>
        <th><a href=<%=url%>>즐겨찾기 추가</a></th>
      </tr>
      <%})%>
    </table>
    </a>
	<a href="/users/game_insert">게임삽입</a>
  </body>
</html>
