<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <% game.forEach(item => {
    const { game_name, game_cont, game_max, game_min } = item;
    %>
    <form action="" method="POST">
      <a><%=game_name%> {<%=game_cont%>} <%=game_max%> <%=game_min%></a>
      <button id="btn" type="submit">즐겨찾기 추가</button>
    </form>
      <h1></h1>
    </a>
  <%})%>
	<a href="/users/game_insert">게임삽입</a>
  </body>
</html>
